@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Custom Scrollbar Styles */
    .scrollbar-thin::-webkit-scrollbar {
        width: 6px;
    }
    
    .scrollbar-thumb-gray-300::-webkit-scrollbar-thumb {
        background-color: rgb(209 213 219);
        border-radius: 3px;
    }
    
    .scrollbar-thumb-gray-300::-webkit-scrollbar-thumb:hover {
        background-color: rgb(156 163 175);
    }
    
    .scrollbar-track-gray-100::-webkit-scrollbar-track {
        background-color: rgb(243 244 246);
        border-radius: 3px;
    }
    
    .scrollbar-thumb-purple-300::-webkit-scrollbar-thumb {
        background-color: rgb(216 180 254);
        border-radius: 3px;
    }
    
    .scrollbar-thumb-purple-300::-webkit-scrollbar-thumb:hover {
        background-color: rgb(192 132 252);
    }
    
    .scrollbar-track-purple-100::-webkit-scrollbar-track {
        background-color: rgb(243 232 255);
        border-radius: 3px;
    }
    
    .scrollbar-thumb-blue-300::-webkit-scrollbar-thumb {
        background-color: rgb(147 197 253);
        border-radius: 3px;
    }
    
    .scrollbar-thumb-blue-300::-webkit-scrollbar-thumb:hover {
        background-color: rgb(96 165 250);
    }
    
    .scrollbar-track-blue-100::-webkit-scrollbar-track {
        background-color: rgb(219 234 254);
        border-radius: 3px;
    }

    /* Custom scrollbar for dashboard */
    .custom-scrollbar::-webkit-scrollbar {
        width: 8px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background-color: rgb(243 244 246);
        border-radius: 4px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background-color: rgb(209 213 219);
        border-radius: 4px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background-color: rgb(156 163 175);
    }
}


